
.employee-image{
    margin-left: 50%;
}
.col-detail {
    margin-left: 46px;
    margin-top: 22px;
    margin-right: 21px;
}


.row-1{
    background-color: #f5f5f5;
    width: 90%;
}
.col-image img{
    border-radius: 50%;
    margin-left: 5px;
    height: 202px;
}
.grid-col-6{
    width: 16.66%;
    float: right;

}
.grid-col-5{
    width: 20%;
    float: right;

}
.grid-col-4{
    width: 25%;
    float: right;

}
.grid-col-3{
    width: 33.33%;
    float: right;

}
.grid-col-2{
    width: 50%;
    float: right;

}
.grid-col-1{
    width: 100%;
    float: right;

}
label{
    float: left;
    width: 50%;
}
.para p {

    margin-left: 10px;
}
.preloader {

    visibility: hidden;
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height: 100%;
}

.preloader img {
    position: relative;
    top: 20px;
    left: 212px;
}